<!--
  This template loads for the 'tab.track-detail' state (app.js)
  'track' is a $scope variable created in the trackDetailCtrl controller (controllers.js)
  The trackDetailCtrl pulls data from the music service (service.js)
  The music service returns an array of tracks data
-->
<ion-view view-title="{{track[0].strTrack}}">
  <ion-content class="padding">
    <div class="item item-image">
      <img ng-src="{{track[0].strTrackThumb}}" style="width: 64px; height: 64px">
    </div>
    
    <div class="list">
      <label class="item item-input">
        <strong class="input-label">Track </strong>
        <input type="text" value="{{track[0].strTrack}}">
      </label>
      
      <label class="item item-input">
        <strong class="input-label">Artist </strong>
        <input type="text" value="{{track[0].strArtist}}">
      </label>
      
      <label class="item item-input">
        <strong class="input-label">Album </strong>
        <input type="text" value="{{track[0].strAlbum}}">
      </label>
      
      <label class="item item-input">
        <strong class="input-label">Genre </strong>
        <input type="text" value="{{track[0].strGenre}}">
      </label>
    </div>
  </ion-content>
</ion-view>
